<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relógio do DIM DIM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            setInterval(function() {
                $('#hours').load('/hours');
                $('#minutes').load('/minutes');
                $('#seconds').load('/seconds');
            }, 1000);
        });
    </script>
</head>
<body>
    <div class="clock-date">
        <div class="clock">

            <div>
                <span id="hours"> <%= erb :hours %> </span>
                <span class="temp">Horas</span>
            </div>

            <div>
                <span id="minutes"> <%= erb :minutes %> </span>
                <span class="temp">Minutos</span>
            </div>

            <div>
                <span id="seconds"> <%= erb :seconds %> </span>
                <span class="temp">Segundos</span>
            </div>

            
        </div>
        <div class="date-div">
            <h6> <%= erb :date %> </h6> 
        </div>
    </div>
</body>
</html>